/* Fonts in all pages (Playball for titles and Oranienbaum for all texts */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playball', cursive;
}

p, figcaption, span {
  font-family: 'Oranienbaum', serif;
}

/* CSS for Services page (cards) */
.container {
  display: grid;
  grid-template-rows: start;

}

